body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  font-family: 'Roboto', sans-serif;
}

#entry-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#logo {
  width: 500px;
  height: auto;
  margin-bottom: 20px;
}

#loading-message {
  font-size: 1.2em;
  color: #555;
  font-weight: 400;
  text-align: center;
  margin: 0 20px;
}
